@media (max-width:425px) {
    .center {
        padding-right: calc(50% - 171px);
        padding-left: calc(50% - 171px);
    }

    .top {
        height: 735px;
    }

    .header {
        padding-top: 238px;

        &__title {
            width: 343px;
            font-size: 32px;
            line-height: 39px;
            align-items: center;
            text-align: center;
        }

        &__info {
            width: 343px;
            font-size: 14px;
            line-height: 22px;
            align-items: center;
            text-align: center;
        }

        &__button {
            display: block;
            align-items: center;
            margin: auto auto;
        }
    }

    .games {
        grid-template-columns: 1fr;
        row-gap: 32px;

        &__item {
            grid-column: span 1;
        }
    }


    .titleSection {
        text-align: center;
        font-size: 32px;
        line-height: 39px;
    }
    .subtitleSection{
        font-size: 14px;
        line-height: 22px;
        text-align: center;
    }
    .button-homePage{
        margin: auto auto;
    }
    .timeYear {
        grid-template-columns: 1fr;
        row-gap: 64px;
        padding-bottom: 85px;
        padding-top: 51px;

        &__info {
            grid-column: span 1;
        }

        &__logo {
            grid-column: span 1;

            &--mobile {
                width: 343px;
                height: 236px;
            }
        }
    }
    .miniGame{
        grid-template-columns: 1fr;
        row-gap: 64px;
        padding-top: 51px;
        padding-bottom: 90px;
        &__info {
            grid-column: span 1;
            grid-row: 1/-1;
        }

        &__logo {
            grid-column: span 1;

            &--mobile {
                width: 344px;
                height: 231px;
            }
        }
    }
    .riddle{
        padding-top: 51px;
        padding-bottom: 487px;
    }
}